/* styling for all pages */
.jumbotron{
background-image: url('../images/family_tree_image5.jpg');
background-size:100% 100%;
background-repeat: no-repeat;
font-family: 'Karla', sans-serif;
} 

h1{
    font-family: 'Spectral', serif; 
}

body{
    background-color: rgb(187, 207, 208);
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}

/* styling for index.html page */
#startForm{
    display:none;
}

#tree-instructions{
    font-size: 16px;
}

#familyTreeContainer{
    border-radius: 25px;
    padding: 20px;
    width: 1500px; 
    min-height: 500px; 
    background-color: #DAE4E4;
}
